<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Яндекс практикум</title>
		<!-- <link rel="icon" href="./favicon.png" /> -->
		<link rel="stylesheet" href="/public/css/main.css" />
		
	</head>
	<body>
		<script src="/public/main.js"></script>

		<div class="ya-sign-in">
			<div class="ya-sign-in__container">
				<div class="card ya-sign-in__card ya-sign-in__card_shadow">
					<div class="card__title">
						Вход
					</div>
					<div class="card_container">
						<div class="form">
							<div class="form__fields">
								<div class="input">
									<div class="input__label">
										<div class="input__label_text">
											Логин
										</div>
									</div>
										<input class="input__field input__field_text" id="login" />
								</div>
								<div class="input">
									<div class="input__label">
										<div class="input__label_text">
											Пароль
										</div>
									</div>
										<input class="input__field input__field_text" id="password" type="password" />
								</div>
							</div>
							<div class="form__error" id="form__error">

							</div>
							<div class="form__error">
								
							</div>
							<div class="form__btn" onclick="fun()">
								<div class="form__btn_text" >
									Войти
								</div>
							</div>
						</div>
					</div>
					<div class="card__footer">
						Нет аккаунта?
						<a class="card_link" href="">Регистрация</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>